{
  "extends": [
    "semistandard"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "html",
    "standard",
    "promise",
    "mocha",
    "chai-expect"
  ]
}